In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset_kc = pd.read_parquet(r'Datasets\Manhattan\kc_dataset_df_15min.parquet')
print(dataset_kc.head(5))

                     79->79  79->234  79->161  79->231  79->148  79->48  \
time
2019-05-02 06:00:00       0        1        2        2        1       0
2019-05-02 06:15:00       0        1        2        5        0       1
2019-05-02 06:30:00       0        4        3        1        0       1
2019-05-02 06:45:00       1        2        7        0        2       0
2019-05-02 07:00:00       2        2        3        3        0       0

                     79->170  79->68  79->230  79->164  ...  262->263  \
time                                                    ...
2019-05-02 06:00:00        0       0        3        1  ...         0
2019-05-02 06:15:00        1       0        3        2  ...         0
2019-05-02 06:30:00        2       0        1        0  ...         0
2019-05-02 06:45:00        2       0        3        0  ...         2
2019-05-02 07:00:00        1       0        4        0  ...         1

                     262->233  262->87  262->75  262->143  262->166  262->243  \
time
2019-05-02 06:00:00         1        0        1         0         0         0
2019-05-02 06:15:00         1        0        3         1         0         0
2019-05-02 06:30:00         3        1        2         1         2         0
2019-05-02 06:45:00         1        1        2         0         0         0
2019-05-02 07:00:00         2        1        0         0         0         0

                     262->13  262->232  262->262
time
2019-05-02 06:00:00        0         0         0
2019-05-02 06:15:00        0         0         0
2019-05-02 06:30:00        1         0         0
2019-05-02 06:45:00        0         0         0
2019-05-02 07:00:00        0         0         0

[5 rows x 2209 columns]

In [3]:
print(dataset_kc.values.shape)

(2160, 2209)

In [4]:
graph_adj = np.load(r'Datasets\Manhattan\GraphAdj.npy')
print(graph_adj.shape)

(2209, 2209)